<br>

<a class="navlink" href="/auth/signup">Sign Up</a>
<a class="navlink" href="/auth/login">Log In</a>
<a class="navlink" href="/auth/logout">Log Out</a>
<a class="navlink" href="/profile">Profile</a>
<a class="navlink" href="/country">Countries</a>

