<h1>COUNTRIES</h1>

<ul>
    <% countries.forEach( function(country) {%>
        <div><li><a href="/country/<%=country.name%>"><%= country.name %><img src="<%=country.flag%>" width="100" height="50"></a></li></div>
    <% }) %>
</ul>